# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3

media/
staticfiles/

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
*.log

node_modules/
dist/